@charset "utf-8";
@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700,900&display=swap');

html {
  font-size: 10px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

body,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: inherit;
}

.a11y-hidden,
legend {
  width: 1px;
  height: 1px;
  position: absolute;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* Container 방법1. flex 활용하기 */
/* .container {
  display: flex;
  flex-flow: row wrap;
} */